body {
  background: #eee;
  font-family: sans-serif;

}

div{
  border: 5px solid white;
  padding: 10px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 10px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;

}

.button-container {
  background: #e3f4ff;
  text-align: center;

}

button {
  background: whitesmoke;


}